.flip-container {
    background-color: transparent;
}

.flip-container-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.flip-container-inner.flipped {
    transform: rotateY(180deg);
}

.flip-container-front,
.flip-container-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-container-front {
    transform: rotateY(0deg);
}

.flip-container-back {
    transform: rotateY(180deg);
}
