.pip {
	position: absolute;
	border-radius: 50%;
	height: 0.25em;
	width: 0.25em;
	margin: 0.0625em;
}

.wrapper {
	position: relative;
	height: 100%;
	width: 100%;

	&.arrangement-1 {
		.pip:nth-child(1) {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
	}

	&.arrangement-2 {
		.pip:nth-child(1) {
			bottom: 0;
			left: 0;
		}

		.pip:nth-child(2) {
			top: 0;
			right: 0;
		}
	}

	&.arrangement-3 {
		.pip:nth-child(1) {
			bottom: 0;
			left: 0;
		}

		.pip:nth-child(2) {
			top: 0;
			right: 0;
		}

		.pip:nth-child(3) {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
	}

	&.arrangement-4 {
		.pip:nth-child(1) {
			top: 0;
			left: 0;
		}

		.pip:nth-child(2) {
			top: 0;
			right: 0;
		}

		.pip:nth-child(3) {
			right: 0;
			bottom: 0;
		}

		.pip:nth-child(4) {
			left: 0;
			bottom: 0;
		}
	}

	&.arrangement-5 {
		.pip:nth-child(1) {
			top: 0;
			left: 0;
		}

		.pip:nth-child(2) {
			top: 0;
			right: 0;
		}

		.pip:nth-child(3) {
			right: 0;
			bottom: 0;
		}

		.pip:nth-child(4) {
			left: 0;
			bottom: 0;
		}

		.pip:nth-child(5) {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
	}

	&.arrangement-6 {
		.pip:nth-child(1) {
			top: 0;
			left: 0;
		}

		.pip:nth-child(2) {
			top: 0;
			right: 0;
		}

		.pip:nth-child(3) {
			right: 0;
			bottom: 0;
		}

		.pip:nth-child(4) {
			left: 0;
			bottom: 0;
		}

		.pip:nth-child(5) {
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			margin-top: 0;
			margin-bottom: 0;
		}

		.pip:nth-child(6) {
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&.arrangement-7 {
		.pip:nth-child(1) {
			top: 0;
			left: 0;
		}

		.pip:nth-child(2) {
			top: 0;
			right: 0;
		}

		.pip:nth-child(3) {
			right: 0;
			bottom: 0;
		}

		.pip:nth-child(4) {
			left: 0;
			bottom: 0;
		}

		.pip:nth-child(5) {
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			margin-top: 0;
			margin-bottom: 0;
		}

		.pip:nth-child(6) {
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			margin-top: 0;
			margin-bottom: 0;
		}

		.pip:nth-child(7) {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
	}

	&.arrangement-8 {
		.pip:nth-child(1) {
			top: 0;
			left: 0;
		}

		.pip:nth-child(2) {
			top: 0;
			right: 0;
		}

		.pip:nth-child(3) {
			right: 0;
			bottom: 0;
		}

		.pip:nth-child(4) {
			left: 0;
			bottom: 0;
		}

		.pip:nth-child(5) {
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			margin-top: 0;
			margin-bottom: 0;
		}

		.pip:nth-child(6) {
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			margin-top: 0;
			margin-bottom: 0;
		}

		.pip:nth-child(7) {
			left: 50%;
			top: 25%;
			transform: translate(-50%, -12.5%);
			margin: 0;
		}

		.pip:nth-child(8) {
			left: 50%;
			top: 75%;
			transform: translate(-50%, -85.5%);
			margin: 0;
		}
	}

	&.arrangement-9 {
		.pip:nth-child(1) {
			top: 0;
			left: 0;
		}

		.pip:nth-child(2) {
			top: 0;
			right: 0;
		}

		.pip:nth-child(3) {
			right: 0;
			bottom: 0;
		}

		.pip:nth-child(4) {
			left: 0;
			bottom: 0;
		}

		.pip:nth-child(5) {
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			margin-top: 0;
			margin-bottom: 0;
		}

		.pip:nth-child(6) {
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			margin-top: 0;
			margin-bottom: 0;
		}

		.pip:nth-child(7) {
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			margin-left: 0;
			margin-right: 0;
		}

		.pip:nth-child(8) {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}

		.pip:nth-child(9) {
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			margin-left: 0;
			margin-right: 0;
		}
	}
}
